apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: prod
  labels:
    app: product-service
    environment: production
    managed-by: freshharvest-market
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: product-service
    environment: production