apiVersion: v1
kind: Service
metadata:
  name: mssql
  namespace: prod
  labels:
    app: mssql
    component: database
spec:
  selector:
    app: mssql
  ports:
  - port: 1433
    targetPort: 1433
    protocol: TCP
    name: mssql
  type: ClusterIP
