apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: varnex-enterprise-mssql-data
  namespace: varnex-enterprise
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: hostpath
