{{- if .Values.configmaps.enabled }}
{{- range $serviceName, $service := .Values.services }}
{{- if and $service.enabled (ne $serviceName "frontend") }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $serviceName }}-service-config
  namespace: {{ $.Values.global.environment }}
data:
  ASPNETCORE_ENVIRONMENT: {{ $.Values.global.environment | title }}
  ASPNETCORE_URLS: "http://+:80"
  Logging__LogLevel__Default: "Information"
  Logging__LogLevel__Microsoft: "Warning"
  Logging__LogLevel__System: "Warning"
{{- end }}
{{- end }}
{{- if .Values.services.frontend.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: {{ .Values.global.environment }}
data:
  REACT_APP_API_BASE: "http://api.{{ .Values.global.environment }}.freshharvest-market.local"
{{- end }}
{{- end }}

---