{{- if .Values.secrets.enabled }}
{{- range $serviceName, $service := .Values.services }}
{{- if and $service.enabled (ne $serviceName "frontend") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $serviceName }}-service-db-secret
  namespace: {{ $.Values.global.environment }}
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: "Server=mssql;Database={{ $serviceName }}_db;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=true;"
{{- end }}
{{- end }}
{{- end }}

---