apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: prod
  labels:
    app: order-service
    environment: production
    managed-by: electronic-paradise
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: order-service
    environment: production