apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mssql-data
  namespace: staging
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: hostpath
